<!DOCTYPE html>
<html>
<head>
    <title>Liberty Sounds - Home</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link rel="stylesheet" href="http://cdn2.editmysite.com/css/sites.css" type="text/css"/>
    <link rel='stylesheet' type='text/css'
          href='http://cdn1.editmysite.com/editor/libraries/fancybox/fancybox.css'/>
    <link rel='stylesheet' type='text/css' href='files/main_style.css' title='wsite-theme-css'/>
    <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,200,700' rel='stylesheet'
          type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'/>
    <style type='text/css'>
        .wsite-elements.wsite-not-footer div.paragraph, .wsite-elements.wsite-not-footer p, .wsite-elements.wsite-not-footer .product-block .product-title, .wsite-elements.wsite-not-footer .product-description, .wsite-elements.wsite-not-footer .wsite-form-field label, .wsite-elements.wsite-not-footer .wsite-form-field label, #wsite-content div.paragraph, #wsite-content p, #wsite-content .product-block .product-title, #wsite-content .product-description, #wsite-content .wsite-form-field label, #wsite-content .wsite-form-field label, .blog-sidebar div.paragraph, .blog-sidebar p, .blog-sidebar .wsite-form-field label, .blog-sidebar .wsite-form-field label {
        }

        #wsite-content div.paragraph, #wsite-content p, #wsite-content .product-block .product-title, #wsite-content .product-description, #wsite-content .wsite-form-field label, #wsite-content .wsite-form-field label, .blog-sidebar div.paragraph, .blog-sidebar p, .blog-sidebar .wsite-form-field label, .blog-sidebar .wsite-form-field label {
        }

        .wsite-elements.wsite-footer div.paragraph, .wsite-elements.wsite-footer p, .wsite-elements.wsite-footer .product-block .product-title, .wsite-elements.wsite-footer .product-description, .wsite-elements.wsite-footer .wsite-form-field label, .wsite-elements.wsite-footer .wsite-form-field label {
        }

        .wsite-elements.wsite-not-footer h2, .wsite-elements.wsite-not-footer .product-long .product-title, .wsite-elements.wsite-not-footer .product-large .product-title, .wsite-elements.wsite-not-footer .product-small .product-title, #wsite-content h2, #wsite-content .product-long .product-title, #wsite-content .product-large .product-title, #wsite-content .product-small .product-title, .blog-sidebar h2 {
        }

        #wsite-content h2, #wsite-content .product-long .product-title, #wsite-content .product-large .product-title, #wsite-content .product-small .product-title, .blog-sidebar h2 {
        }

        .wsite-elements.wsite-footer h2, .wsite-elements.wsite-footer .product-long .product-title, .wsite-elements.wsite-footer .product-large .product-title, .wsite-elements.wsite-footer .product-small .product-title {
        }

        #wsite-title {
        }

        .wsite-menu-default a {
        }

        .wsite-menu a {
        }

        .wsite-image div, .wsite-caption {
        }

        .galleryCaptionInnerText {
        }

        .fancybox-title {
        }

        .wslide-caption {
        }

        .wsite-phone {
        }

        .wsite-headline {
        }

        .wsite-headline-paragraph {
        }

        .wsite-button-inner {
        }

        .wsite-not-footer blockquote, #wsite-com-product-tab blockquote {
        }

        .wsite-footer blockquote {
        }

        .blog-header h2 a {
        }

        h2.wsite-product-title {
        }

        .wsite-product .wsite-product-price a {
        }
    </style>

    <script><!--
    var STATIC_BASE = '//cdn1.editmysite.com/';
    var STYLE_PREFIX = 'wsite';
    //-->
    </script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
    <script src='http://cdn2.editmysite.com/js/site/main.js?buildTime=1396893656'></script>
    <script>_W.relinquish && _W.relinquish()</script>
    <script type='text/javascript'><!--
    var IS_ARCHIVE = 1;
    (function (jQuery) {
        function initFlyouts() {
            initPublishedFlyoutMenus([
                {"id": "722261672477931011", "title": "Home", "url": "index.html", "target": ""},
                {"id": "296635475955082997", "title": "Music & Spoken Word", "url": "music--spoken-word.html", "target": ""},
                {"id": "865196482331928087", "title": "Poems", "url": "poems.html", "target": ""},
                {"id": "337547280796316908", "title": "Teachings", "url": "teachings.html", "target": ""},
                {"id": "805887652820966812", "title": "About", "url": "about.html", "target": ""},
                {"id": "703204710649508374", "title": "Chord\/Lyric Sheets", "url": "chordlyric-sheets.html", "target": ""}
            ], "722261672477931011", "<li><a href='#'>{{title}}<\/a><\/li>", 'active', false)
        }

        if (jQuery) {
            if (jQuery.browser.msie && !window.flyoutMenusRefreshable) window.onload = initFlyouts;
            else jQuery(initFlyouts);
        } else {
            if (Prototype.Browser.IE) window.onload = initFlyouts;
            else document.observe('dom:loaded', initFlyouts);
        }
    })(window._W && _W.jQuery)
    //-->
    </script>
</head>
<body class='no-header-page wsite-background wsite-theme-light wsite-page-index'>
<div id="header-wrap">
    <div class="container">
        <table id="header">
            <tr>
                <td id="header-right">
                    <table>
                        <tr>
                            <td class="phone-number"></td>
                            <td class="social">
                                <div style="text-align:left;">
                                    <div style="height:0px;overflow:hidden"></div>
                                    <span class="wsite-social wsite-social-default"><a
                                            class='first-child wsite-social-item wsite-social-facebook'
                                            href='http://facebook.com/libertysoundsmusic' target='_blank'><span
                                            class='wsite-social-item-inner'></span></a></span>

                                    <div style="height:0px;overflow:hidden"></div>
                                </div>
                            </td>
                            <td class="search"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <!-- end container -->
</div>
<!-- end header-wrap -->

<div id="nav-wrap">
    <div class="container">
        <table>
            <tr>
                <td id="logo"><span class='wsite-logo'><a href=''><span
                        id="wsite-title">Liberty Sounds</span></a></span></td>
                <td>
                    <ul class='wsite-menu-default'>
                        <li id='active'><a href='index.html'>Home</a></li>
                        <li id='pg296635475955082997'><a href='music--spoken-word.html'>Music & Spoken Word</a></li>
                        <li id='pg865196482331928087'><a href='poems.html'>Poems</a></li>
                        <li id='pg337547280796316908'><a href='teachings.html'>Teachings</a></li>
                        <li id='pg805887652820966812'><a href='about.html'>About</a></li>
                        <li id='pg703204710649508374'><a href='chordlyric-sheets.html'>Chord/Lyric Sheets</a></li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <!-- end container -->
</div>
<!-- end nav-wrap -->

<div id="banner-wrap">
    <div class="container">
        <div class="top-bar"></div>
        <div id="banner">

            <div style="clear:both;"></div>

        </div>
        <!-- end banner -->
    </div>
    <!-- end container -->
</div>
<!-- end banner-wrap -->

<div id="main-wrap">
    <div class="container">
        <div id='wsite-content' class='wsite-elements wsite-not-footer'>
            <span class='imgPusher' style='float:left;height:0px'></span><span
                style='z-index:10;position:relative;float:left;max-width:100%;;clear:left;margin-top:0px;*margin-top:0px'><a><img
                src="uploads/2/6/5/1/26519877/8695549.jpg?494"
                style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;"
                alt="Picture" class="galleryImageBorder wsite-image"/></a><span
                style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;"
                class="wsite-caption"></span></span>

            <div class="paragraph" style="text-align:center;display:block;"><font size="6"><br/></font><br/><font
                    size="6"><font color="#e05c5c"><span style="line-height: 0; display: none;">&#65279;</span>He put a
                new song in &#8232;my mouth,&nbsp;</font><span
                    style="color: rgb(224, 92, 92); line-height: 1.5; background-color: transparent;">a hymn of praise to our God. &#8232;&#8232;Many will see and fear the LORD and put their trust in him.&nbsp;</span></font><br/><span
                    style="color: rgb(224, 92, 92); line-height: 1.5; background-color: transparent;"><font size="6">Psalm
                40:3</font></span><br/><span style=""></span><br/><span style=""></span></div>
            <hr style="width:100%;clear:both;visibility:hidden;"/>
        </div>

    </div>
    <!-- end container -->
</div>
<!-- end main-wrap -->

</body>
</html>