<!DOCTYPE html>
<html>
<head>
    <title>Music &amp; Spoken Word - Liberty Sounds</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link rel="stylesheet" href="http://cdn2.editmysite.com/css/sites.css?buildTime=1396893656" type="text/css"/>
    <link rel='stylesheet' type='text/css'
          href='http://cdn1.editmysite.com/editor/libraries/fancybox/fancybox.css?1396893656'/>
    <link rel='stylesheet' type='text/css' href='files/main_style.css?1396963573' title='wsite-theme-css'/>
    <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,200,700' rel='stylesheet'
          type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'/>
    <style type='text/css'>
        .wsite-elements.wsite-not-footer div.paragraph, .wsite-elements.wsite-not-footer p, .wsite-elements.wsite-not-footer .product-block .product-title, .wsite-elements.wsite-not-footer .product-description, .wsite-elements.wsite-not-footer .wsite-form-field label, .wsite-elements.wsite-not-footer .wsite-form-field label, #wsite-content div.paragraph, #wsite-content p, #wsite-content .product-block .product-title, #wsite-content .product-description, #wsite-content .wsite-form-field label, #wsite-content .wsite-form-field label, .blog-sidebar div.paragraph, .blog-sidebar p, .blog-sidebar .wsite-form-field label, .blog-sidebar .wsite-form-field label {
        }

        #wsite-content div.paragraph, #wsite-content p, #wsite-content .product-block .product-title, #wsite-content .product-description, #wsite-content .wsite-form-field label, #wsite-content .wsite-form-field label, .blog-sidebar div.paragraph, .blog-sidebar p, .blog-sidebar .wsite-form-field label, .blog-sidebar .wsite-form-field label {
        }

        .wsite-elements.wsite-footer div.paragraph, .wsite-elements.wsite-footer p, .wsite-elements.wsite-footer .product-block .product-title, .wsite-elements.wsite-footer .product-description, .wsite-elements.wsite-footer .wsite-form-field label, .wsite-elements.wsite-footer .wsite-form-field label {
        }

        .wsite-elements.wsite-not-footer h2, .wsite-elements.wsite-not-footer .product-long .product-title, .wsite-elements.wsite-not-footer .product-large .product-title, .wsite-elements.wsite-not-footer .product-small .product-title, #wsite-content h2, #wsite-content .product-long .product-title, #wsite-content .product-large .product-title, #wsite-content .product-small .product-title, .blog-sidebar h2 {
        }

        #wsite-content h2, #wsite-content .product-long .product-title, #wsite-content .product-large .product-title, #wsite-content .product-small .product-title, .blog-sidebar h2 {
        }

        .wsite-elements.wsite-footer h2, .wsite-elements.wsite-footer .product-long .product-title, .wsite-elements.wsite-footer .product-large .product-title, .wsite-elements.wsite-footer .product-small .product-title {
        }

        #wsite-title {
        }

        .wsite-menu-default a {
        }

        .wsite-menu a {
        }

        .wsite-image div, .wsite-caption {
        }

        .galleryCaptionInnerText {
        }

        .fancybox-title {
        }

        .wslide-caption {
        }

        .wsite-phone {
        }

        .wsite-headline {
        }

        .wsite-headline-paragraph {
        }

        .wsite-button-inner {
        }

        .wsite-not-footer blockquote, #wsite-com-product-tab blockquote {
        }

        .wsite-footer blockquote {
        }

        .blog-header h2 a {
        }

        h2.wsite-product-title {
        }

        .wsite-product .wsite-product-price a {
        }
    </style>

    <script><!--
    var STATIC_BASE = '//cdn1.editmysite.com/';
    var STYLE_PREFIX = 'wsite';
    //-->
    </script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
    <script src='http://cdn2.editmysite.com/js/site/main.js?buildTime=1396893656'></script>
    <script>_W.relinquish && _W.relinquish()</script>
    <script type='text/javascript'><!--
    var IS_ARCHIVE = 1;
    (function (jQuery) {
        function initFlyouts() {
            initPublishedFlyoutMenus([
                {"id": "722261672477931011", "title": "Home", "url": "index.html", "target": ""},
                {"id": "296635475955082997", "title": "Music & Spoken Word", "url": "music--spoken-word.html", "target": ""},
                {"id": "865196482331928087", "title": "Poems", "url": "poems.html", "target": ""},
                {"id": "337547280796316908", "title": "Teachings", "url": "teachings.html", "target": ""},
                {"id": "805887652820966812", "title": "About", "url": "about.html", "target": ""},
                {"id": "703204710649508374", "title": "Chord\/Lyric Sheets", "url": "chordlyric-sheets.html", "target": ""}
            ], "296635475955082997", "<li><a href='#'>{{title}}<\/a><\/li>", 'active', false)
        }

        if (jQuery) {
            if (jQuery.browser.msie && !window.flyoutMenusRefreshable) window.onload = initFlyouts;
            else jQuery(initFlyouts);
        } else {
            if (Prototype.Browser.IE) window.onload = initFlyouts;
            else document.observe('dom:loaded', initFlyouts);
        }
    })(window._W && _W.jQuery)
    //-->
    </script>
</head>
<body class='no-header-page wsite-background wsite-theme-light wsite-page-music-spoken-word'>
<div id="header-wrap">
    <div class="container">
        <table id="header">
            <tr>
                <td id="header-right">
                    <table>
                        <tr>
                            <td class="phone-number"></td>
                            <td class="social">
                                <div style="text-align:left;">
                                    <div style="height:0px;overflow:hidden"></div>
                                    <span class="wsite-social wsite-social-default"><a
                                            class='first-child wsite-social-item wsite-social-facebook'
                                            href='http://facebook.com/libertysoundsmusic' target='_blank'><span
                                            class='wsite-social-item-inner'></span></a></span>

                                    <div style="height:0px;overflow:hidden"></div>
                                </div>
                            </td>
                            <td class="search"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <!-- end container -->
</div>
<!-- end header-wrap -->

<div id="nav-wrap">
    <div class="container">
        <table>
            <tr>
                <td id="logo"><span class='wsite-logo'><a href=''><span
                        id="wsite-title">Liberty Sounds</span></a></span></td>
                <td>
                    <ul class='wsite-menu-default'>
                        <li id='pg722261672477931011'><a href='index.html'>Home</a></li>
                        <li id='active'><a href='music--spoken-word.html'>Music & Spoken Word</a></li>
                        <li id='pg865196482331928087'><a href='poems.html'>Poems</a></li>
                        <li id='pg337547280796316908'><a href='teachings.html'>Teachings</a></li>
                        <li id='pg805887652820966812'><a href='about.html'>About</a></li>
                        <li id='pg703204710649508374'><a href='chordlyric-sheets.html'>Chord/Lyric Sheets</a></li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <!-- end container -->
</div>
<!-- end nav-wrap -->

<div id="banner-wrap">
    <div class="container">
        <div class="top-bar"></div>
        <div id="banner">

            <div style="clear:both;"></div>

        </div>
        <!-- end banner -->
    </div>
    <!-- end container -->
</div>
<!-- end banner-wrap -->

<div id="main-wrap">
    <div class="container">
        <div id='wsite-content' class='wsite-elements wsite-not-footer'>
            <h2 class="wsite-content-title" style="text-align:left;">Run to the Light Album</h2>

            <div>
                <div id="951745151280635337" align="left" style="width: 100%; overflow-y: hidden;" class="wcustomhtml">
                    <iframe width="100%" height="166" scrolling="no" frameborder="no"
                            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/143101644&amp;color=00aabb&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true"></iframe>
                </div>


            </div>

            <div>
                <div id="882308835367330851" align="left" style="width: 100%; overflow-y: hidden;" class="wcustomhtml">
                    <iframe width="100%" height="166" scrolling="no" frameborder="no"
                            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/142419790&amp;color=00aabb&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true"></iframe>
                </div>


            </div>

            <div>
                <div id="915530164646511401" align="left" style="width: 100%; overflow-y: hidden;" class="wcustomhtml">
                    <iframe width="100%" height="166" scrolling="no" frameborder="no"
                            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/142939495&amp;color=00aabb&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true"></iframe>
                </div>


            </div>

            <div>
                <div id="814704972624622939" align="left" style="width: 100%; overflow-y: hidden;" class="wcustomhtml">
                    <iframe width="100%" height="166" scrolling="no" frameborder="no"
                            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/142569323&amp;color=00aabb&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true"></iframe>
                </div>


            </div>

            <div>
                <div id="381382272723061665" align="left" style="width: 100%; overflow-y: hidden;" class="wcustomhtml">
                    <iframe width="100%" height="166" scrolling="no" frameborder="no"
                            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/142709720&amp;color=00aabb&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true"></iframe>
                </div>


            </div>

            <div>
                <div id="206001119141038412" align="left" style="width: 100%; overflow-y: hidden;" class="wcustomhtml">
                    <iframe width="100%" height="166" scrolling="no" frameborder="no"
                            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/143104791&amp;color=00aabb&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true"></iframe>
                </div>


            </div>

            <div>
                <div id="279066738620729814" align="left" style="width: 100%; overflow-y: hidden;" class="wcustomhtml">
                    <iframe width="100%" height="166" scrolling="no" frameborder="no"
                            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/142570194&amp;color=00aabb&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true"></iframe>
                </div>


            </div>

            <div>
                <div id="988221621576883024" align="left" style="width: 100%; overflow-y: hidden;" class="wcustomhtml">
                    <iframe width="100%" height="166" scrolling="no" frameborder="no"
                            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/142570005&amp;color=00aabb&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true"></iframe>
                </div>


            </div>

            <div>
                <div id="753238002503966544" align="left" style="width: 100%; overflow-y: hidden;" class="wcustomhtml">
                    <iframe width="100%" height="166" scrolling="no" frameborder="no"
                            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/143100986&amp;color=00aabb&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true"></iframe>
                </div>


            </div>

            <div>
                <div id="711285646152158187" align="left" style="width: 100%; overflow-y: hidden;" class="wcustomhtml">
                    <iframe width="100%" height="166" scrolling="no" frameborder="no"
                            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/142907339&amp;color=00aabb&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true"></iframe>
                </div>


            </div>

            <div>
                <div id="277828017518951794" align="left" style="width: 100%; overflow-y: hidden;" class="wcustomhtml">
                    <iframe width="100%" height="166" scrolling="no" frameborder="no"
                            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/142709387&amp;color=00aabb&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true"></iframe>
                </div>


            </div>

            <div>
                <div id="820720683517718136" align="left" style="width: 100%; overflow-y: hidden;" class="wcustomhtml">
                    <iframe width="100%" height="166" scrolling="no" frameborder="no"
                            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/142907593&amp;color=00aabb&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true"></iframe>
                </div>


            </div>

            <h2 class="wsite-content-title" style="text-align:left;">Spoken Word</h2>

            <div>
                <div id="812685386647615020" align="left" style="width: 100%; overflow-y: hidden;" class="wcustomhtml">
                    <iframe width="100%" height="166" scrolling="no" frameborder="no"
                            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/142710011&amp;color=00aabb&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true"></iframe>
                </div>


            </div>

            <div>
                <div id="617039050477167673" align="left" style="width: 100%; overflow-y: hidden;" class="wcustomhtml">
                    <iframe width="100%" height="166" scrolling="no" frameborder="no"
                            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/142710113&amp;color=00aabb&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true"></iframe>
                </div>


            </div>

            <div>
                <div id="532827854911592395" align="left" style="width: 100%; overflow-y: hidden;" class="wcustomhtml">
                    <iframe width="100%" height="166" scrolling="no" frameborder="no"
                            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/142709856&amp;color=00aabb&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true"></iframe>
                </div>


            </div>
        </div>

    </div>
    <!-- end container -->
</div>
<!-- end main-wrap -->

</body>
</html>