<!DOCTYPE html>
<html>
<head>
    <title>Teachings - Liberty Sounds</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link rel="stylesheet" href="http://cdn2.editmysite.com/css/sites.css?buildTime=1396893656" type="text/css"/>
    <link rel='stylesheet' type='text/css'
          href='http://cdn1.editmysite.com/editor/libraries/fancybox/fancybox.css?1396893656'/>
    <link rel='stylesheet' type='text/css' href='files/main_style.css?1396963573' title='wsite-theme-css'/>
    <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,200,700' rel='stylesheet'
          type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'/>
    <style type='text/css'>
        .wsite-elements.wsite-not-footer div.paragraph, .wsite-elements.wsite-not-footer p, .wsite-elements.wsite-not-footer .product-block .product-title, .wsite-elements.wsite-not-footer .product-description, .wsite-elements.wsite-not-footer .wsite-form-field label, .wsite-elements.wsite-not-footer .wsite-form-field label, #wsite-content div.paragraph, #wsite-content p, #wsite-content .product-block .product-title, #wsite-content .product-description, #wsite-content .wsite-form-field label, #wsite-content .wsite-form-field label, .blog-sidebar div.paragraph, .blog-sidebar p, .blog-sidebar .wsite-form-field label, .blog-sidebar .wsite-form-field label {
        }

        #wsite-content div.paragraph, #wsite-content p, #wsite-content .product-block .product-title, #wsite-content .product-description, #wsite-content .wsite-form-field label, #wsite-content .wsite-form-field label, .blog-sidebar div.paragraph, .blog-sidebar p, .blog-sidebar .wsite-form-field label, .blog-sidebar .wsite-form-field label {
        }

        .wsite-elements.wsite-footer div.paragraph, .wsite-elements.wsite-footer p, .wsite-elements.wsite-footer .product-block .product-title, .wsite-elements.wsite-footer .product-description, .wsite-elements.wsite-footer .wsite-form-field label, .wsite-elements.wsite-footer .wsite-form-field label {
        }

        .wsite-elements.wsite-not-footer h2, .wsite-elements.wsite-not-footer .product-long .product-title, .wsite-elements.wsite-not-footer .product-large .product-title, .wsite-elements.wsite-not-footer .product-small .product-title, #wsite-content h2, #wsite-content .product-long .product-title, #wsite-content .product-large .product-title, #wsite-content .product-small .product-title, .blog-sidebar h2 {
        }

        #wsite-content h2, #wsite-content .product-long .product-title, #wsite-content .product-large .product-title, #wsite-content .product-small .product-title, .blog-sidebar h2 {
        }

        .wsite-elements.wsite-footer h2, .wsite-elements.wsite-footer .product-long .product-title, .wsite-elements.wsite-footer .product-large .product-title, .wsite-elements.wsite-footer .product-small .product-title {
        }

        #wsite-title {
        }

        .wsite-menu-default a {
        }

        .wsite-menu a {
        }

        .wsite-image div, .wsite-caption {
        }

        .galleryCaptionInnerText {
        }

        .fancybox-title {
        }

        .wslide-caption {
        }

        .wsite-phone {
        }

        .wsite-headline {
        }

        .wsite-headline-paragraph {
        }

        .wsite-button-inner {
        }

        .wsite-not-footer blockquote, #wsite-com-product-tab blockquote {
        }

        .wsite-footer blockquote {
        }

        .blog-header h2 a {
        }

        h2.wsite-product-title {
        }

        .wsite-product .wsite-product-price a {
        }
    </style>

    <script><!--
    var STATIC_BASE = '//cdn1.editmysite.com/';
    var STYLE_PREFIX = 'wsite';
    //-->
    </script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
    <script src='http://cdn2.editmysite.com/js/site/main.js?buildTime=1396893656'></script>
    <script>_W.relinquish && _W.relinquish()</script>
    <script type='text/javascript'><!--
    var IS_ARCHIVE = 1;
    (function (jQuery) {
        function initFlyouts() {
            initPublishedFlyoutMenus([
                {"id": "722261672477931011", "title": "Home", "url": "index.html", "target": ""},
                {"id": "296635475955082997", "title": "Music & Spoken Word", "url": "music--spoken-word.html", "target": ""},
                {"id": "865196482331928087", "title": "Poems", "url": "poems.html", "target": ""},
                {"id": "337547280796316908", "title": "Teachings", "url": "teachings.html", "target": ""},
                {"id": "805887652820966812", "title": "About", "url": "about.html", "target": ""},
                {"id": "703204710649508374", "title": "Chord\/Lyric Sheets", "url": "chordlyric-sheets.html", "target": ""}
            ], "337547280796316908", "<li><a href='#'>{{title}}<\/a><\/li>", 'active', false)
        }

        if (jQuery) {
            if (jQuery.browser.msie && !window.flyoutMenusRefreshable) window.onload = initFlyouts;
            else jQuery(initFlyouts);
        } else {
            if (Prototype.Browser.IE) window.onload = initFlyouts;
            else document.observe('dom:loaded', initFlyouts);
        }
    })(window._W && _W.jQuery)
    //-->
    </script>
</head>
<body class='no-header-page wsite-background wsite-theme-light wsite-page-teachings'>
<div id="header-wrap">
    <div class="container">
        <table id="header">
            <tr>
                <td id="header-right">
                    <table>
                        <tr>
                            <td class="phone-number"></td>
                            <td class="social">
                                <div style="text-align:left;">
                                    <div style="height:0px;overflow:hidden"></div>
                                    <span class="wsite-social wsite-social-default"><a
                                            class='first-child wsite-social-item wsite-social-facebook'
                                            href='http://facebook.com/libertysoundsmusic' target='_blank'><span
                                            class='wsite-social-item-inner'></span></a></span>

                                    <div style="height:0px;overflow:hidden"></div>
                                </div>
                            </td>
                            <td class="search"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <!-- end container -->
</div>
<!-- end header-wrap -->

<div id="nav-wrap">
    <div class="container">
        <table>
            <tr>
                <td id="logo"><span class='wsite-logo'><a href=''><span
                        id="wsite-title">Liberty Sounds</span></a></span></td>
                <td>
                    <ul class='wsite-menu-default'>
                        <li id='pg722261672477931011'><a href='index.html'>Home</a></li>
                        <li id='pg296635475955082997'><a href='music--spoken-word.html'>Music & Spoken Word</a></li>
                        <li id='pg865196482331928087'><a href='poems.html'>Poems</a></li>
                        <li id='active'><a href='teachings.html'>Teachings</a></li>
                        <li id='pg805887652820966812'><a href='about.html'>About</a></li>
                        <li id='pg703204710649508374'><a href='chordlyric-sheets.html'>Chord/Lyric Sheets</a></li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <!-- end container -->
</div>
<!-- end nav-wrap -->

<div id="banner-wrap">
    <div class="container">
        <div class="top-bar"></div>
        <div id="banner">

            <div style="clear:both;"></div>

        </div>
        <!-- end banner -->
    </div>
    <!-- end container -->
</div>
<!-- end banner-wrap -->

<div id="main-wrap">
    <div class="container">
        <div id='wsite-content' class='wsite-elements wsite-not-footer'>
            <h2 class="wsite-content-title" style="text-align:left;"><font color="#5cbce0">Who We Are</font></h2>

            <div class="paragraph" style="text-align:left;">April 3, 2014<br/>What we do is so secondary to who we are.
                I don&rsquo;t sing because it&rsquo;s what I do; I sing because it&rsquo;s who I am. We often talk about
                bringing others to Christ, but why not think of it more as being Christ to others? Even those who don&rsquo;t
                know who He is will recognize Him in us. I cannot fix myself, so I may as well stop trying. As I abide
                in Jesus, the dross will be skimmed off the top. I need to quit trying to fix myself and my life and
                just allow Jesus to have His way.&nbsp;<br/></div>

            <h2 class="wsite-content-title" style="text-align:left;"><font color="#5cbce0">Transition and Building of a
                Nation</font></h2>

            <div class="paragraph" style="text-align:left;">December 5, 2013<br/><br/>When I woke up on Monday, I was
                asking God about transition. I am in a stage of life where I know a different season is coming soon. I
                wanted to know what I needed to do to prepare and "help" the transition along.<br/><br/>The Lord said to
                me, "Turn to Joshua 4-6, and I will teach you about the&nbsp;<strong style="">Building of a
                    Nation</strong>." At first I'm thinking, "Lord, how does this have anything to do with what I just
                asked you about&nbsp;<strong style="">transition</strong>?" But I dutifully turned to the aforementioned
                passage and discovered the following:<br/><br/><u style="">Joshua 4-6</u>&nbsp;<br/><br/>Ch. 4 - The
                people of Israel are coming out of the wilderness and crossing the Jordan river into Canaan. The Lord
                tells Joshua to&nbsp;<strong style="">erect a memorial</strong>&nbsp;to Him for the mighty things He had
                done&nbsp;<strong style="">so the people and their children would remember</strong>.<br/><br/>Another
                thing God showed (reminded) me is that the ark of the covenant was carried by the priests of the Lord
                into the river before the people to stop the river from flowing, stayed there until all the people
                crossed over on dry land and came up after the people just as the&nbsp;<strong style="">Lord's presence
                    goes before and behind us and is with us</strong>&nbsp;all the way through the tests/trials assuring
                that we are not consumed.<br/><br/>Ch. 5 - When people&nbsp;<strong style="">fall away</strong>&nbsp;from
                and do not believe God (such as the generation of Israel who died in the wilderness), they&nbsp;<strong
                        style="">do not receive God's promises</strong>&nbsp;(the promised land). We must&nbsp;<strong
                        style="">re-circumcise our hearts</strong>&nbsp;again to be one with God and receive all that He
                has. Circumcision means&nbsp;<strong style="">something of the person is cut away</strong>. It marks
                them outwardly as belonging to God, but it hurts. The people did not move on from that place until they
                were healed of the cutting away.<br/><br/>God also highlighted that the Manna stopped coming when the
                people were able to feed off the produce of the land of Canaan. God will miraculously provide for His
                people until natural circumstances allow provision to come from another way. The provision is still the
                Lord's, but He provides in different ways depending on the season.<br/><br/>Joshua worshiped the Lord,
                revered Him and asks for God's Word, preparing to listen to Him.<br/><br/>Ch. 6 - God has&nbsp;<strong
                        style="">already given</strong>&nbsp;His people the city of Jericho - He knows what He's going
                to do. He gives Joshua precise strategy and instructions and the Word of the Lord to the people - men of
                war are to go before and behind the worshiping priests. The&nbsp;<strong style="">people obeyed</strong>&nbsp;the
                Lord and believed He had given them the city. The people obey and events occur as the Lord said they
                would.<br/><br/>Joshua warns the people to continue in obedience or suffer discipline. In similar
                manner, they are told not to rebuild the city of disobedience (Jericho) or suffer with the loss of their
                children.<br/><br/><u style="">Basic Principles for Transition</u><br/><br/>God was answering my
                question about my specific&nbsp;<strong style="">transition</strong>&nbsp;and gave me some&nbsp;<strong
                        style="">basic principles</strong>:<br/><br/>1)&nbsp;<strong style="">Make a memorial to His
                    works.</strong><br/><br/><strong style="">&nbsp; &nbsp; He is always with us</strong>.<br/><br/>He
                wanted me to go back through this season and look at/encourage myself with/testify to all the wonderful
                things He has done. I have put them all into a document containing testimonies, personal revelations and
                teachings. It's amazing to see all that He has done and have a record of it.<br/><br/>2)&nbsp;<strong
                        style="">Re-circumcise our hearts to the Lord.</strong><br/><br/><strong style="">&nbsp; &nbsp;
                    He will give us time for healing before we move on.</strong>&nbsp;<br/><br/>In any transition, it is
                important to recommit oneself to living for the Lord in His way. Part of this includes asking what
                things need to be pruned or cut away to leave no distractions from the Lord. I have been going through a
                pruning process in which God is removing lies and idols from my life including
                people-pleasing/world-conforming and mistrust of God. This particular circumcision for me will be
                outwardly marked by baptism - I have never been baptized as an adult because I didn't understand the
                true importance of it. Now, I want to bury my old man and allow God to birth the new man fully in me. (I
                was baptized Sunday 12/8/13 at&nbsp;Solid Rock in Iowa City).&nbsp;<br/><br/>3)&nbsp;<strong style="">Trust
                    and watch for the Lord to provide.</strong><br/><br/>I have been living in a miraculous provision by
                others for my well-being. I believe in this season, God will transition me to a job with an income
                through which I may live "off the produce of the land" if you will, and use my hands to aid in the
                provision.<br/><br/>4)&nbsp;<strong style="">Worship the Lord and
                    listen.</strong><br/><br/>5)&nbsp;<strong style="">Believe in the Victory He has already
                    achieved.</strong><br/><br/><strong style="">&nbsp; &nbsp; Obey Him without fear and
                    conquer.</strong><br/><br/>I believe the Lord has given me victory in my life. As I listen to what
                He has to say, He will move me by His power through my obedience into the calling He has prepared for me
                in advance - including my job, relationships and ministry to bring Him glory.&nbsp;<br/><br/><u
                        style="">Building of a Nation</u><br/><br/>I was so excited about Him responding to my questions
                about transition, I almost forgot about what He told me at the beginning: "I will teach you about the&nbsp;<strong
                        style="">Building of a Nation.</strong>"<br/><br/>I asked the Lord and He said this:<br/><br/>The
                nation I refer to is that of&nbsp;<strong style="">children</strong>&nbsp;(not a political nation or
                buildings/cities etc); some may be biological children, some may be children in the Spirit. To build up
                a nation you have to:<br/><br/>1)&nbsp;<strong style="">Testify</strong>&nbsp;to your children what I
                have done for you<br/><br/>2)&nbsp;<strong style="">Teach</strong>&nbsp;them and&nbsp;<strong style="">include</strong>&nbsp;them
                in the&nbsp;<strong style="">process of circumcising</strong>&nbsp;your hearts that they might devote
                themselves to the Lord as well.<br/><br/>3)&nbsp;<strong style="">Obey</strong>&nbsp;the Lord; lead by
                example in trusting the Lord for provision, worshiping, listening to God and cutting off all
                disobedience;&nbsp;<strong style="">when you disobey the Lord you suffer with the loss of your
                    children</strong>, your legacy, because they will follow your example and fall away from the Lord
                and into disobedience with you.<br/><br/>We must build up our children in the Lord. It is crucial in
                today's world that we do all we can to show those who would come after us what our relationship with the
                Lord looks like, how we trust Him, listen to Him and how to stand strong in the face of opposition. If
                we obey Him, we conquer.&nbsp;<br/><br/>"You, dear children, are from God and have overcome them [spirit
                of the antichrist], because the one who is in you is greater than the one who is in the world." 1 John
                4:4<br/><br/>"But in all these things we overwhelmingly conquer through Him who loved us." Romans
                8:37<br/><br/>Praise be to God that He speaks to us!<br/></div>

            <h2 class="wsite-content-title" style="text-align:left;"><font color="#5cbce0">Armed to Face the
                World</font></h2>

            <div class="paragraph" style="text-align:left;">November 12, 2013<br/><br/>Do you have those days when you
                don't want to get up in the morning? Where you're down in the dumps and have no strength to keep
                going?<br/><br/>What do you run to? Where do you go to escape the world? To get comfort? I often run to
                romantic comedies and ice cream or macaroni and cheese.<br/><br/>But why do I run there instead of to
                God? Isn't He supposed to be the best comforter there is?<br/><br/>I was pondering this question today,
                and this thought came to me: God demands a lot from me. To be with Him requires work; it requires me to
                change my life. When I'm weary, I just don't have the energy to be with God.<br/><br/>Food, movies, they
                don't require anything from me... but are they really comforting? Do they make me feel better? Good
                enough to go back out and face the world? Usually not. When I escape into these things, I often don't
                want to come out. I want to live in this alternate reality, and when I do finally have to come out, I
                often feel worse than when I went in. I feel unsatisfied, and I desire more of whatever it is, trying to
                fill the emptiness.<br/><br/>It's true, God is holy and therefore requires us to be pure, but He also
                provided a way that doesn't depend on our works. Jesus died and covers us in His blood so we can come
                before God directly. He forgives in an instant when we ask. It doesn't have to be work to be with Him
                when we give up the religion for the sake of the relationship.<br/><br/>And yes, being in a
                relationship, God requires a lot from us - but we do it because we WANT to be with Him. He demands a
                lot, but He's the only thing I run to for comfort where I actually receive something back. He keeps me
                wanting more, yes, but He's the only thing that gives me what I need to be satisfied and strengthened.
                He's the only thing that arms me to face the world.&nbsp;<br/><br/>Ephesians 6:10-13<br/><br/>10
                Finally, be strong in the Lord, and in the strength of his might.&nbsp;11 Put on the whole armor of God,
                that ye may be able to stand against the wiles of the devil.&nbsp;12 For our wrestling is not against
                flesh and blood, but against the principalities, against the powers, against the world-rulers of this
                darkness, against the spiritual hosts of wickedness in the heavenly places.13 Wherefore take up the
                whole armor of God, that ye may be able to withstand in the evil day, and, having done all, to
                stand.<br/><br/>Stand strong in the Lord, and run to Him for comfort. You will receive.<br/></div>

            <h2 class="wsite-content-title" style="text-align:left;"><font color="#5cbce0">Conviction, Love and
                Witness</font></h2>

            <div class="paragraph" style="text-align:left;">November 4, 2013<br/><br/>I want to tell you a little about
                what I learned concerning conviction, love and witnessing to the world.&nbsp;<br/><br/><strong style="">Conviction</strong>&nbsp;-
                the first definition from Merriam Webster is: the act of proving that a person is guilty of a crime in a
                court of law. I often think of conviction in the context of the negative, of the "guilty" and I know
                I've certainly felt that way when it comes to the Holy Spirit. When I think of His conviction, I think
                of feeling Him in my spirit saying, "You have sinned. You definitely messed this up." But a later
                definition is: the feeling of being sure that what you believe or say is true. Conviction can be a
                positive word, and the Holy Spirit uses positive conviction as well. He will also say, "God's promises
                are true. God WILL give you rest when you come to Him, or God WILL heal that person because He WANTS
                to." The Holy Spirit will sometimes put positive conviction in our hearts that produces faith to work
                for God based in strong faith and to testify&nbsp;believing what He says&nbsp;with full assurance of
                what He's done.&nbsp;<br/><br/>God asked me why I get up in the morning afraid of and more concerned
                with NOT doing the wrong things instead of DOING the right things. I live in constant fear that I'm
                going to disappoint Him and break the rules, but He wants me to see the great destiny and wonderful acts
                He has planned for me to do. If I'm doing the right thing, I CAN'T be doing the wrong thing. If I focus
                on the right thing, more positivity and joy can fill my life, and fear will have no place.<br/><br/>There
                is no fear in love. But perfect love drives out fear,&nbsp;because fear has to do with punishment. The
                one who fears is not made perfect in love. 1 John 4:18<br/><br/>God will not punish us because Jesus
                Christ took our punishment on the cross. He WILL discipline us because we are sons and daughters and He
                loves us so much, He doesn't want us to continue to hurt ourselves and others by doing harmful things.
                But we don't need to fear God will punish us because He already did through Jesus' death - we died with
                Him. The old is gone, the new has come.&nbsp;<br/><br/>God wants us to follow His Spirit and what it
                says in His word; He doesn't want us to follow a religious law that may or may not be true to who He is
                just because someone else told us to or because we fear punishment. Fearing punishment has kept me from
                accepting love God does offer because instead of enjoying it, I'm wrapped up in not taking it for
                granted or doing the wrong thing with it.&nbsp;<br/><br/>I also feel like I have to&nbsp;<strong
                        style="">deserve</strong>&nbsp;it - I have to deserve God's love before I can receive it. God
                loves us. And the problem with waiting to receive love until we deserve it is that we don&rsquo;t
                deserve it - so if we wait &lsquo;til we are to receive it, we won&rsquo;t ever receive
                it.&nbsp;<br/><br/>Even if we try really hard, the kind of love we get for doing things isn&rsquo;t
                really love. We cannot earn love, because love "earned" is not love.&nbsp;I've had a hard time
                understanding that love is not a currency in which I am constantly in debt to God and other people, a
                debt that I'm always trying to pay back through my actions and time.&nbsp;All love comes from God, and
                we can't pay Him back. The love we give others and others give to us comes from Him, so we don't have
                anything of ourselves to pay them back either.&nbsp;<strong style="">True love is a kind that is just
                    given</strong>, without us doing anything more than being and receiving.&nbsp;<br/><br/>I know that
                thought is still offensive to me. I think I should have to do something for anyone to want to do
                anything for me, so the love God/people do offer, I don&rsquo;t receive very easily. God&rsquo;s
                teaching me how to gracefully receive from other people and not worry about whether I deserve it or not.
                I also don't have to worry about being punished for doing wrong or feel bad for accepting love because I
                don't deserve it. God knows we don't deserve it, and He loves us anyway.&nbsp;<br/><br/>And that love is
                like a fire that burns off the dross; as God loves us and we receive His love, our hearts begin to LONG
                for righteousness, to long to walk with God in His ways, so sin becomes uncomfortable. It's not about
                deserving His love or even trying to get "right" with God. Love draws us into relationship with God. We
                begin to do the right things because we want to be LIKE God. We want to move the way He does. His
                unconditional love, when we accept it, changes us from the inside. We cannot become righteous by fearing
                God's punishment and doing what He says out of that fear. We become righteous by accepting righteousness
                from Christ and by allowing His love to change us to be like Him.&nbsp;<br/><br/>It is so critical to
                love people from the heart of God and not fear punishment because our religious fear of being punished
                often leads us to judge others instead of loving them. Conviction of the Holy Spirit will teach us both
                what is right and wrong beyond a set of religious rules. Truly loving others is to accept them where
                they are without judging while loving them enough to show them you are convinced they can live more like
                Jesus - even if the righteous life you live to show them is offensive to the world. (Righteous living
                may be attractive to those seeking the Lord, but it is DEEPLY offensive to the world). To witness
                through my life, I've had to learn how to let go of judging and punishing myself for the sake of letting
                God love the sin out of me so I can be more like Him. I can only give love to others as I learn to
                receive love for myself from God. When I have a strong conviction that God loves me, I can be truly
                convinced that He loves everyone else too.&nbsp;<br/><br/>34&nbsp;&ldquo;A new command&nbsp;I give you:
                Love one another.&nbsp;As I have loved you, so you must love one another.&nbsp;35&nbsp;By this everyone
                will know that you are my disciples, if you love one another.&rdquo; John 13:34-35<br/><br/>Loving each
                other from God's heart is the real witness to who He is in our love-starved world.<br/></div>

            <h2 class="wsite-content-title" style="text-align:left;"><font color="#5cbce0">Freely Receive, Freely
                Give</font></h2>

            <div class="paragraph" style="text-align:left;">October 8, 2013<br/><br/>God showed me something about gifts
                that I want to share with you.<br/><br/>I am not very gracious about receiving gifts. When people give
                me gifts, I often say things like, "Oh, you didn't have to do that" or "I'll make sure to pay for your
                lunch soon."<br/><br/>People when they give gifts don't expect you to pay them back. And&nbsp;<em
                        style="">of course</em>&nbsp;they didn't&nbsp;<em style="">have</em>&nbsp;to! They WANTED to. By
                not receiving the gift or just saying thank you, I make the giver feel like the gift was unwanted or
                unwelcome. Sad day right?<br/><br/>In some ways, they're right. I don't want to receive the gift often
                because I have this mentality that somehow in receiving the gift, now I'm indebted to the person or I'm
                not worthy of the gift in the first place.<br/><br/>It's the same with God. Often, I won't ask for (or
                even receive when they're offered) spiritual gifts or prayer because I think that I'm unworthy to
                receive them, or I've been blessed too much already, or people will think I'm greedy because I ask so
                much of God.<br/><br/>God LOVES giving us gifts. And they're all bought and paid for already. Jesus
                Christ's blood was shed so that we might have life and have life in ABUNDANCE (John 10:10). We don't
                have to feel ashamed about receiving gifts because they are about delighting the Giver; they're not
                about our worth or what others will think of us.<br/><br/>Let the gifts show the goodness and generosity
                of the the Giver and not focus on ourselves.<br/><br/>Jesus also said, "Heal the sick, raise the dead,
                cleanse those who have leprosy, drive out demons. Freely you have received; freely give." Matthew 10:8
                (Side note: Look at all the cool gifts God gives in the first part of that verse!) We often focus on the
                part about freely giving, but rarely do with think about freely receiving. Jesus doesn't say "freely
                give" as a payback for Him freely giving to us. We don't owe Jesus for the gifts He gives us or they
                wouldn't be gifts. We couldn't pay Him back anyway because He died on the cross - only God could die on
                a cross and have it mean salvation for all.&nbsp;<br/><br/>Jesus says "freely give" that we might
                imitate the character of God. God has freely given us in abundance and will freely continue to do so
                because He is a generous Father who loves to give gifts from His abundance. He shows us that we have
                abundance in Him, and to be like Him, we freely give to others.<br/><br/>When God freely offers a gift,
                like prayer or healing or a friend, it is not wrong to accept it. In fact, it does us absolutely no good
                to reject it! No matter how "bad" we feel we've been that week or how much God already blessed us, when
                God offers we can accept without shame or a feeling of indebtedness. The gift is FREELY given.<br/>
            </div>

            <h2 class="wsite-content-title" style="text-align:left;"><font color="#5cbce0">Work It Out</font></h2>

            <div class="paragraph" style="text-align:left;">September 22, 2013<br/><br/>I have been reading&nbsp;<u
                    style="">True Spirituality</u>&nbsp;by Francis Schaeffer - amazing book - anyway, something that
                struck me this afternoon is in the 9th chapter on our thought life. He says, "the external follows the
                internal, and the external is a product of the internal. Thoughts are first, and they produce the
                external." (95) We are our thoughts.<br/><br/>Since I've been home in Iowa, I have been meeting new
                people and I started going to a different church. I came home from church today saying, "Lord, I don't
                want people to view me like I'm tired, depressed, struggling, afraid, seeking pity, judgmental,
                prideful, self-conscious" etc. and the Lord said, "Then don't be those things - rejoice, be thankful and
                full of joy." It seems so simple. If I'm focused on my struggles or I consider myself as better than
                others, that's what other people will see eventually, as much as I might do to try to hide it. If,
                however, on the inside I am full of the love and humility of God and joy giving thanks in my struggles
                and trials, that's what people will see.&nbsp;<br/><br/>I have to BE what I want other people to
                SEE.<br/><br/>Like Schaeffer said, "Thoughts are first, and they produce the external;" We are our
                thoughts. We are what we believe.&nbsp;<br/><br/>Our thought-life is what will produce the changes
                people will see outwardly. "Do not conform to the pattern of this world, but be&nbsp;<strong style="">transformed</strong>&nbsp;by
                the renewing of your mind. [...]" Romans 12:2 &nbsp;When we dig into God's word, really&nbsp;<em
                        style="">meditating</em>&nbsp;on it (thinking about it, chewing on it, letting it marinate
                consciously), it changes us inside and thus, outside. Our true beliefs are what people will
                see.<br/><br/>This is the Libby-amplified version: "[...] work out [outwardly from where God's word is
                written on your heart and identity] your salvation [and the belief in grace and victory of Jesus on the
                cross] with fear and trembling [appropriate reverence for God]; for it is God who is at work in you,
                both to will and to work for His good pleasure." Phil. 2:12-13.<br/><br/>&nbsp;We cannot strive to be
                better or to have more life because God alone provides the sanctification and the life, but we can focus
                our inner thought life on the author and perfecter of our faith who will be faithful to complete the
                good work He began in us. We must do the obeying, but it is God at work in us that brings Himself glory
                - He works the internal truth to become external fruit.<br/><br/>I have found myself many times lately
                saying, "Lord, I can't (insert impossible task here, i.e. be a more humble person, not pity myself, quit
                seeking attention)" and His response is always, "I&nbsp;<strong style="">can</strong>&nbsp;- lean back
                in my arms and let me have my way."&nbsp;<br/><br/>As we hold fast to the word of life in our thoughts
                (Phil. 2:16), we become the word of life on the outside as Jesus shines through us.<br/></div>

            <h2 class="wsite-content-title" style="text-align:left;"><font color="#5cbce0">Waiting on His Best</font>
            </h2>

            <div class="paragraph" style="text-align:left;">August 28, 2013<br/><br/>With the fall approaching, I know
                many of us are in transition whether it's back to school for students and teachers, more intensity at
                work with the somewhat lazy days of summer behind us or getting into a new season of life. I am in a
                time of waiting, waiting and wandering until the Lord reveals what's next for me. And I feel prompted by
                a friend and by the Spirit to share what I have learned about transition.<br/><br/><strong style=""><u
                        style="">Teaching</u></strong><br/><br/>God has dreams for us. He has a path prepared for us and
                good works prepared in advance for us to do. In times of transition, there might be a lot of good
                options, but God alone knows the best one, and He will tell us if we wait upon Him. A friend told me,
                "Good" options are often the worst enemies of the "Best" option. Maybe one door will open and then the
                best door will open a little later. We need to be patient, listening and watching for the right one. If
                we are seeking Him,&nbsp;God in His sovereignty will not allow us to go so far outside of His will as to
                miss what He has completely, but transitional decisions are processes and require relationship. He will
                not violate our free will and force us to wait for or choose the best option either.&nbsp;<br/><br/>When
                doors open, we have to ask the Lord which one to walk through. Peace and quietness, trust - those are
                always the best options. We don't have to strive or work our way through to where we are going, we just
                have to walk with the Lord and know what He's said is true. He will guide us clearly, provide for us and
                take into consideration what we want. We must not move based purely on circumstance and open doors
                because we DO hear from the Lord. Why say, "This looks good. It's available, so it&nbsp;<em style="">must&nbsp;</em>be
                the way to go," when we can just ask the Lord, "Is this it or not?"&nbsp;<br/><br/>We know His voice,
                and we can feel when His Spirit moves, so we move with Him. When a good option presents itself, we must
                not move unless He moves us. The real test comes when we ask and He says, "This isn't the way," even if
                there appears to be no other way; we must then choose to see the way with the eyes of faith through the
                impossibilities and know that Jesus IS the way. He is there to provide even when there seems to be no
                way. We must believe that He has the ability to do the impossible. "I will not move until He moves me."
                True trust waits without panic or fear until the guiding hand invites and the faithful voice says, "This
                is the way; walk ye in it." Isaiah 30:21<br/><br/><em style="">"I'm not gonna settle for less than your
                    best;&nbsp;</em><br/><br/><em style="">I'll wrestle with you until I come away blessed"</em><br/>
            </div>

            <h2 class="wsite-content-title" style="text-align:left;"><font color="#5cbce0">Thoughts on Life and
                Relationships (For Women)</font></h2>

            <div class="paragraph" style="text-align:left;"><span
                    style="line-height: 1.5; background-color: transparent;">March 29, 2012</span><br/><span
                    style=""></span><br/><span style=""></span> A lot of us have been asking questions about life,
                especially marriage and how we relate to the opposite sex so I thought I would share what I've learned
                in this area. I know there are probably some of you who do not want to get married or are at least not
                thinking about it in the slightest right now and that&rsquo;s perfectly fine! God has a plan for all of
                us and a different kind of timing for each of us, but I just felt like this was something He wanted me
                to share.&nbsp;<br/><span style=""></span><br/><span style=""></span> <u style="">Actively
                    Waiting</u><br/><span style=""></span><br/><span style=""></span> I heard a speaker once say that
                some of the most important things we can do in this life is to find our soul-path and our soul-mate. She
                also said that we cannot sit around waiting for life to happen to us. We have to, what I like to
                call, &ldquo;Actively wait&rdquo; &ndash; especially when it comes to spouses. God will lead us to our
                husbands, but we cannot just sit around and wait for that to happen.<br/><span
                        style=""></span><br/><span style=""></span> God has specific plans for us in what we do and who
                we do them with.&nbsp;He knows the best timing for each season in our lives and He prepares us perfectly
                beforehand. As such, He knows when we need to be single, married etc.<br/><span
                        style=""></span><br/><span style=""></span> Our lives are written in God&rsquo;s book long
                before we are born. He knows our thoughts as we get up and when we lay down at night. He has prepared in
                advance things for us to do. While we wait for our spouses (if that&rsquo;s God&rsquo;s will), we must
                actively seek out God&rsquo;s heart for us and His plan for our lives. Our lives with a husband don&rsquo;t
                really make sense out of the context of God&rsquo;s plan for our lives. The ultimate love story is the
                one between us and God. God wants to show us what true love looks like so that when we come to marriage,
                we are prepared for it and we also know that the only perfect love comes from Him.<br/><span
                        style=""></span><br/><span style=""></span> <u style="">Captivating</u>&nbsp;by John and Stasi
                Eldredge&nbsp;- if you have not read this book, I would highly recommend it. It is not God or the Bible,
                so it cannot answer all of your questions, but it definitely changed my perspective and got me asking
                more pertinent questions. It talks about three desires we have as women 1) To be romanced, 2) To have an
                irreplaceable role in an adventure and 3) to unveil our beauty. These desires certainly rang true for
                me, and I just think it's a good read in general - especially chapters 7 and 8 which talk about being
                romanced by God and the specific ways we reveal who God is as women.&nbsp;<br/><span
                        style=""></span><br/><span style=""></span> God wants us to know His love because men cannot
                fill that void in our hearts.<br/><span style=""></span><br/><span style=""></span> <u style="">Single
                    Ladies</u><br/><span style=""></span><br/><span style=""></span> There are advantages to being
                single. In 1 Corinthians 7:34-35 Paul says, &ldquo;An unmarried woman or virgin is concerned about the
                Lord&rsquo;s affairs: Her aim is to be devoted to the Lord in both body and spirit. But a married woman
                is concerned about the affairs of this world &ndash; how she can please her husband. I am saying this
                for your own good, not to restrict you, but that you may live in a right way in undivided devotion to
                the Lord.&rdquo;<br/><span style=""></span><br/><span style=""></span> There are some things that we
                cannot do after we are no longer single. God makes a specific time period for us to be single so that we
                can do specific works to His glory. We need the preparation time for marriage, but we also need that
                time to do work we could not otherwise do. &nbsp;<br/><span style=""></span><br/><span style=""></span>
                Single women who are longing for lovers who don&rsquo;t know Jesus often won&rsquo;t talk to women who
                have a boyfriend/husband because &ldquo;they don&rsquo;t get it.&rdquo; They&rsquo;re all set. These
                women may feel awful and/or worthless because they don&rsquo;t have a significant other and therefore
                are not pursuable.<br/><span style=""></span><br/><span style=""></span> First of all, if this is you,
                NEWSFLASH you ARE pursuable. God is pursuing you all the time. He created you to be something specific
                and special. He created you in HIS image to show something specific of Himself to the world.<br/><span
                        style=""></span><br/><span style=""></span> Part of what we get to do as single women is talk to
                other single women and help them understand that Jesus is the ultimate lover. He longs for us and is the
                only thing that can truly fill that chasm in our hearts where we long to be loved.<br/><span
                        style=""></span><br/><span style=""></span> <u style="">Crushes/Fantasies</u><br/><span
                        style=""></span><br/><span style=""></span> &nbsp;When I walk into the video store and look
                through the comedy/drama/romance section, it&rsquo;s embarrassing how many of them I&rsquo;ve seen. One
                of the best things God ever told me about fantasies and such was to stop watching chick-flicks. That&rsquo;s
                not to say that we can&rsquo;t watch an occasional one, but if you&rsquo;re really struggling with
                wanting a man or a relationship, chick-flicks are not helpful. They fuel this fantasy and unrealistic
                expectation we have in our heads. Chick-flicks are not the best example of real-life relationships. They
                usually end at the beginning of a relationship and they do not show the work and the hardship that goes
                into a truly satisfying relationship.<br/><span style=""></span><br/><span style=""></span> Fantasy
                crush-land is NOT REAL. We create these images in our minds with unrealistic expectations. They
                complicate our relationships with the ACTUAL guys in our lives, especially when they don&rsquo;t meet
                the standard of this ideal (and not real) man in our heads.&nbsp; I love the moment in Inception where
                Leonardo DiCaprio&rsquo;s character says of his wife who died, &ldquo;I can't imagine you with all your
                complexity, all you perfection, all your imperfection. Look at you. You are just a shade of my real
                wife. You're the best I can do; but I'm sorry, you are just not good enough.&rdquo; These fantasy guys
                from the chick flicks or those we make up in our minds are just not good enough. We cannot imagine the
                man God has made for us. Even more than that, we cannot imagine all of who God is. God is real. He is
                the best lover there is because He will never disappoint us, and He knows every hair on our heads. In
                When Harry Met Sally, Billy Crystal says to Meg Ryan, &ldquo;I love that you get cold when it is 71
                degrees out. I love that it takes you an hour and a half to order a sandwich. I love that you get a
                little crinkle in your nose when you're looking at me like I'm nuts. I love that after I spend day with
                you, I can still smell your perfume on my clothes. And I love that you are the last person I want to
                talk to before I go to sleep at night.&rdquo; This is how God is about us. He&rsquo;s CRAZY about us,
                and He loves us for all of our little details that are specific to only us. How He longs to be that
                person in OUR lives! He longs to be the first person we want to talk to in the morning and the last
                before going to sleep.&nbsp;&nbsp;<br/><span style=""></span><br/><span style=""></span> As far as
                crushes/interests go, I get anxious often or I wonder what I need to do to protect the relationship or
                make it better or get it going in a different way. But then I worry about lusting or falling for the
                wrong guy or if the guy rejects me&hellip;<br/><span style=""></span><br/><span style=""></span> In
                Philippians 4, Paul says that we must rejoice always. We should not be anxious about anything but offer
                our requests to God, thinking on only the things above, the good things. If you are anxious about
                relationships with guys, or anyone really, in your life, offer them up to God in prayer. The most
                effective method for me to get rid of anxiety has been to pray for the person and also, if I&rsquo;m
                thinking about it or impatient, for my husband and his growth in God. In Galatians 5:16-17, it says that
                the Spirit and the sinful nature are contrary, that they cannot dwell in the same space. As such, as you
                invite the Spirit into this place of anxiety and frustration through prayer, the sinful nature must
                leave. Philippians 4 also then says that Paul has learned to be content in whatever situation because he
                can do anything in Christ&rsquo;s strength. In that same prayer, we can ask God to give us strength to
                wait in peace.<br/><span style=""></span><br/><span style=""></span> <u style="">Jealousy</u><br/><span
                        style=""></span><br/><span style=""></span> When the guy you are interested in spends time with
                other women (or other people in general), don&rsquo;t get jealous or depressed. If he&rsquo;s meant to
                be your husband for life, what&rsquo;s fifteen minutes with someone else? If he&rsquo;s not meant to be
                your husband, God has something better in mind anyway. We shouldn&rsquo;t waste the time we&rsquo;ve
                been given because we&rsquo;re apart from what we think we want.<br/><span style=""></span><br/><span
                        style=""></span> God says &ldquo;I know who is best for you so you don&rsquo;t even have to try
                to find the right friends or the right guy. I know you better than you know you. My choices will be
                better than yours. Keep your eyes trained on me and the balance with people won&rsquo;t even be a
                problem. I&rsquo;ve given you certain gifts and I know what&rsquo;s best for you so there&rsquo;s no
                need to be jealous of what&rsquo;s best for someone else. Find joy in what I&rsquo;ve given you and don&rsquo;t
                be afraid to open up to people I&rsquo;ve given you.&rdquo;<br/><span style=""></span><br/><span
                        style=""></span> Going back to being single, God&rsquo;s given us all gifts. In this time of
                waiting and crushing, sometimes the best way to get our minds out of earthly things and into those of
                above is to look at what God has given us to serve other people. When we serve others, we participate in
                the acting-out of God&rsquo;s heart. It helps us to see others and ourselves the way He does. The more
                we abide in His plans for us and His love, the easier it is to not worry about a significant other until
                the right time. When it becomes time, He will show us.<br/><span style=""></span><br/><span
                        style=""></span> <u style="">Fear/Self-Condemnation</u><br/><span style=""></span><br/><span
                        style=""></span> I think there&rsquo;s some confusion about this desire for a husband. It is not
                a bad thing to be gotten rid of somehow. God placed it in us for a reason. Interest in guys is not
                something we have to be ashamed of or irritated by; we just have to keep going back to God with our
                desire and to understand that ultimately, God needs to be King of our lives. If anything comes before
                Him, we have to go back to Him to rectify our relationship with Him before any of our other
                relationships will work.<br/><span style=""></span><br/><span style=""></span> 1 John 4 &ndash; There is
                no fear in love. Most of our confusion comes out of fear. Guess what? We don&rsquo;t have to be afraid!
                God&rsquo;s perfect love casts out all fear. Know what else? You are beautiful. You are lovable. You&rsquo;re
                not lacking because you don&rsquo;t have your husband now &ndash; he will only add to your fulfillment
                when God gives him to you.<br/><span style=""></span><br/><span style=""></span> One of the most
                beautiful things about us as women is our vulnerability. It takes real bravery to be vulnerable and
                open. But in doing that and being ourselves, we create a space for others to come in and be themselves
                without feeling judged. It is not a bad thing to be open to relationships with guys; we just have to
                make sure that we constantly check-in with God and allow Him to protect our hearts. Ultimately, He is
                the only true safeguard. We can shut down feelings altogether and try to protect our own hearts by not
                letting things go &ldquo;too far,&rdquo; but sometimes that leads to a general sensation of numbness. It
                also comes out of a place of fear instead of love. We want to live in love and in freedom. I&rsquo;m all
                for prudence, but to be liberated, we have to trust God and understand that He will guide us. The safest
                distance between two people is always God.<br/><span style=""></span><br/><span style=""></span> <u
                        style="">Hosea 2</u><br/><span style=""></span><br/><span style=""></span> I was reading Hosea
                2, and it struck me what a beautiful picture it is of our relationship with God. The very first thing
                God says in this chapter is &ldquo;Say of your brothers, &lsquo;My people,&rsquo; and of your
                sisters, &lsquo;My LOVED ones.&rsquo; (emphasis mine). We are LOVED. God loves us so much that He wants
                to make sure everyone around us acknowledges us as such. Then, in verses 2-6, God had called us back to
                Himself, but when we do not listen, when we continue to chase after false gods and other lovers, God
                starves us and blocks us into a box or desert so we have to come back to Him. He won&rsquo;t let us get
                into more trouble or hurt further. In 7-14, we are confused and helpless. God takes away the gifts He&rsquo;s
                given us until we acknowledge that He has given them, to His glory. He shows us as a disgrace to
                everyone else until we understand we are His, &ldquo;no one will take her out of my hands.&rdquo; (v.
                10). In 14-16, He woos us and leads us into seclusion where He speaks and lavishes love upon us to the
                point where all we want to do is sing to Him. We don&rsquo;t want false gods (crushes/fantasies)
                anymore.<br/><span style=""></span><br/><span style=""></span> Verse 16 says that God is our husband; we
                no longer call Him master. We don&rsquo;t pray to Him or read the Bible because we have to, because we&rsquo;re
                serving Him. We do it because God is our lover, our husband. Isaiah 54:5 &ldquo;For your Maker is your
                husband--the LORD Almighty is his name--the Holy One of Israel is your Redeemer; he is called the God of
                all the earth.&rdquo; The Lord of all the earth is our husband. He has made a promise to us and He is
                our safety, our one and only true security. We won&rsquo;t find that in the best of guys. In God, we can
                rest because we are His forever.<br/><span style=""></span><br/><span style=""></span> In verses 18-23,
                God talks about how once we all turn to Him, the earth will live in peace. All we have to do is respond
                to God.&nbsp;<br/><span style=""></span><br/><span style=""></span> Verses 14-16 are so personal. Verse
                14 says God knows she&rsquo;s done bad stuff that will get her into trouble<em style="">THEREFORE</em>&nbsp;He
                is going to entice her to come back to Him. He&rsquo;s going to take her into a place where she can&rsquo;t
                leave by herself, where she can&rsquo;t provide for herself, where she can&rsquo;t get away from His
                love and He&rsquo;s going to whisper sweet nothings in her ear. He&rsquo;s going to tell her how
                beautiful she is, how much He loves her, how pleased He is with all the good she&rsquo;s doing. &nbsp;Song
                of Songs 8:5 has the glorious conclusion to all this. &ldquo;Who is this coming up from the desert
                leaning on her lover?&rdquo; God takes us into the desert, away from everything else we know and use for
                our security so we learn to lean on Him alone.<br/><span style=""></span><br/><span style=""></span> <u
                        style="">Is it time to date him yet? Is he the right guy?</u><br/><span
                        style=""></span><br/><span style=""></span> I love the imagery in Song of Songs 8 in verses 1-4.
                The beloved talks about how she longs to be in that sweet communion with her lover and how she longs to
                lavish love on him only to be supported by him. This applies to God and the husband, but in terms of the
                husband, Solomon again says, &ldquo;Daughters of Jerusalem, I charge you: Do not arouse or awaken love
                until it so desires.&rdquo; This is such an important statement that he says it three times. We have to
                wait until the guys are truly ready. They have to lead. We have to allow our husbands to become the men
                they were born to be &ndash; the men who are ready to care for our hearts.<br/><span
                        style=""></span><br/><span style=""></span> When you&rsquo;ve fully connected to God, you will
                want and need a guy who puts God first as much as you do. &ldquo;A woman&rsquo;s heart should be so
                hidden in Christ that a man has to seek Him first just to find her.&rdquo; &ndash; Maya Angelou Col.
                3:2-3 &ldquo;Set your minds on things above, not on earthly things. For you died, and your life is now
                hidden with Christ in God.&rdquo;<br/><span style=""></span><br/><span style=""></span> Only God knows
                the true desires of our hearts. He wants to give them to us and so much more. Psalm 37:4-7a &ldquo;Delight
                yourself in the Lord and He will give you the desires of your heart. Commit your way to the Lord; trust
                in Him and He will do this: He will make your righteousness shine like the dawn, the justice of your
                cause like the noonday sun. Be still before the Lord and wait patiently for Him;&rdquo;<br/><span
                        style=""></span><br/><span style=""></span> Both your husband and you have to have your minds
                set on God for the relationship to function. That is why it is crucial to wait until both of you are
                prepared and focused completely on God.<br/><span style=""></span><br/><span style=""></span> &ldquo;I
                have such a wonderful man for you if you would only wait, in the meantime building up your relationship
                of love with me and becoming the women I promised his heart.&rdquo; We are PRESENTS! Our husbands want
                us as much as we want them. Part of the waiting is allowing God time to prepare us and our husbands for
                what is to come. Matthew 7:6 says, &ldquo;Do not give dogs what is sacred; do not throw your pearls to
                pigs. If you do, they may trample them under their feet, and then turn and tear you to pieces.&rdquo;
                God is not going to give His precious daughter to just anyone. We are supremely special to Him and He
                has to make sure (like any good father does) that the man to whom He gives His daughter is ready to
                cherish and take care of her.<br/><span style=""></span><br/><span style=""></span> <u style="">Proposal
                    Metaphor</u><br/><span style=""></span><br/><span style=""></span> "If ever Satan tries to tell you
                who the man is to get you distracted and start thinking about it [and I add now acting on it/doing silly
                things that might hurt you or existing relationships], remember that I love delighting you with
                surprises. This thing with your husband is like the best&nbsp;proposal&nbsp;ever because you'll know
                it's coming from me [God], you'll know it's yours, you'll know it's time and your heart will be ready to
                receive it, but you don't know when or where it's gonna happen and you won't know what the ring i.e.
                your husband, is gonna look like but you will love it, it will be the perfect size [fit], it will be way
                better than you could ever have picked out yourself and it will compliment your existing gifts becoming
                most treasured because it represents the fulfillment of a promise...<br/><span
                        style=""></span><br/><span style=""></span> God&rsquo;s gonna propose to us! We&rsquo;re not
                gonna have to guess if this is it and we&rsquo;re certainly not going to miss it. We won't have any
                doubts about being ready for it, and it'll totally surprise us in the best way possible.&nbsp;<br/><span
                        style=""></span><br/><span style=""></span> <u style="">Marriage</u><br/><span
                        style=""></span><br/><span style=""></span> In Malachi 2:15 it says, &ldquo;Has not the Lord
                made them one? In flesh and spirit they are His. And why one? Because He was seeking godly offspring. So
                guard yourself in your spirit and do not break the faith with the [husband] of your
                youth.&rdquo;<br/><span style=""></span><br/><span style=""></span> God has pre-ordained my
                marriage &ndash; a specific man at a SPECIFIC TIME. Let me not break the faith. Must be the man AND the
                time, not just one or the other. Let me not break the faith.<br/><span style=""></span><br/><span
                        style=""></span> God is going to make us one with our husband. Therefore, we have to be prepared
                by God to walk in the same direction. We both have to be walking towards God. God will make it simple
                for us. Marriage is like two people falling into step on the path towards what God wants them to
                do &ndash; it&rsquo;s very simple and God&rsquo;s purpose is always central. Marriage is about His
                glory. God will give you a husband to better glorify Himself.<br/><span style=""></span><br/><span
                        style=""></span> I got annoyed with how much 1 Corinthians 13:4-8 seems to be overused in
                weddings. But it became way more beautiful after God revealed some things to me. Put your name in for
                love in that passage (i.e. Libby is patient; Libby is kind etc.) and realize how much we fail at loving
                people. All the love we have to give is love God gave us. For a marriage to work, we have to love the
                other person through God&rsquo;s love. That is why it is CRUCIAL that we have a God-centered marriage
                and that God approves of our marriage and guides us into it. I cannot love my husband on my own. It is
                not humanly possible. I need God for that. As such, I am willing to wait on God&rsquo;s
                timing.<br/><span style=""></span><br/><span style=""></span> In Ecclesiastes 3, God talks about there
                being a season for everything. Verse 11 says, &ldquo;He [God] has made everything beautiful in its time.
                He has also set eternity in the hearts of men; yet they cannot fathom what God has done from beginning
                to end.&rdquo; Stop for a minute. God makes EVERYTHING beautiful. Not just some things but EVERYTHING.
                That includes us and our relationships with other people. He is faithful to complete the good work He
                began in us. He has a perfect timing for when we&rsquo;re going to meet that special someone. We have to
                know that when it happens in God&rsquo;s will, the timing could not be better.<br/><span
                        style=""></span><br/><span style=""></span> The second thing He says is that He set eternity in
                men&rsquo;s hearts. He put a place in our hearts where we always long for more. We&rsquo;ve gotten a
                taste of heaven i.e. being with God where nothing hinders us. This piece of eternity inside of us will
                not be satisfied on this side of heaven. Yes, we can delight in the earth and all that God has given us,
                but we do not belong here. Nor will we ever truly belong to anyone but God. God is our only true home.
                We will not find fulfillment or satisfaction in a husband. We can only find our full selves in God.<br/><span
                        style=""></span><br/><span style=""></span> Lastly, we CANNOT FATHOM what God has done from
                beginning to end. God is so big and powerful and wonderful that all He does is incomprehensible to us.
                Verses 12-15 talk about how the best thing we as humans can do in life is to delight in what God has
                given us and revere Him for it. Our brains do not understand His magnitude, but in His glorious
                awesomeness, God has given us a part in His plan. He has given us work to do. With this, we should not
                worry about finding a husband until the time comes. And make no mistake, if it is a desire of your heart
                to have a husband, you will have one. God makes good on His promises to us and He places those desires
                in our hearts for a reason. If we were not meant to have a husband, God would change our heart's
                desires. He does not lie, and in His word He says, "Delight yourself in the Lord, and He will give you
                the desire of your heart." Psalm 37:4<br/><span style=""></span><br/><span style=""></span> <u style="">Closing
                    Remarks</u><br/><span style=""></span><br/><span style=""></span> God is the only lover who can
                satisfy all of our needs. Being in relationships or out of them is hard. The simplest thing to do is
                follow God&rsquo;s will for our lives. He will not fail us. He loves us. And He longs to give us what we
                truly desire. In all stages of life, whether single, dating, engaged or married, He must be the central
                support and love of our lives. The relationship we have with Him is the most important one in our lives.
                If we stay connected to Him and really understand Him as our lover, the anxieties and other issues will
                be stripped away. God is love. If we abide in Him, we will be safe and He will lead us.<br/><span
                        style=""></span><br/><span style=""></span> I love you all. Jesus loves you more. O praise
                Him!<br/><span style=""></span><br/><span style=""></span></div>
        </div>

    </div>
    <!-- end container -->
</div>
<!-- end main-wrap -->

</body>
</html>